<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecloudtime.mapper.CommonMapper">
 
 
 <resultMap id="TransRelMap" type="com.ecloudtime.model.TransRel">
		<result column="trans_id" property="transId" jdbcType="VARCHAR" />
		<result column="txid" property="txid" jdbcType="VARCHAR" />
		<result column="block_height" property="blockHeight" jdbcType="VARCHAR" />
		<result column="tran_sign" property="tranSign" jdbcType="VARCHAR" />
		<result column="contract_id" property="contractId" jdbcType="VARCHAR" />
	</resultMap>
 <!-- resultMap="TopicBookMap" -->
   <select id="findContractInfo" resultType="com.ecloudtime.model.SmartContract">
    select * from sys_contract
    	where 1=1
		<if test="id != null and  id != ''">
			and id = #{id}
		</if>
		<if test="addr != null and  addr != ''">
			and addr = #{addr}
		</if>
  </select>
   <select id="findContractInfoList" resultType="com.ecloudtime.model.SmartContract">
   	 select * from sys_contract
  </select>
  
  <select id="findBargainInfo" resultType="com.ecloudtime.model.Bargain">
    select * from sys_bargain
    	where 1=1
		<if test="id != null and  id != ''">
			and id = #{id}
		</if>
		<if test="addr != null and  addr != ''">
			and addr = #{addr}
		</if>
  </select>
  
  <select id="findBargainList" resultType="com.ecloudtime.model.Bargain">
   	 select * from sys_bargain
  </select>
  
  <select id="findTransInfo" resultMap="TransRelMap">
    select * from sys_trans_rel
    	where 1=1
		<if test="transId != null and  transId != ''">
			and trans_id = #{transId}
		</if>
		<if test="txid != null and  txid != ''">
			and txid = #{txid}
		</if>
  </select>
  
    <select id="findFundInfo" resultType="com.ecloudtime.model.Bargain">
    select * from sys_bargain
    	where 1=1
		<if test="id != null and  id != ''">
			and id = #{id}
		</if>
		<if test="addr != null and  addr != ''">
			and addr = #{addr}
		</if>
  </select>
  
  
  
    <select id="findDonorAddrById" resultType="String" parameterType="string">
    select addr from sys_user
    	where 1=1
		<if test="_parameter != null and  _parameter != ''">
			and id = #{_parameter}
		</if>
  </select>
    <select id="findSmartContractAddrById" resultType="String" parameterType="string">
    select addr from sys_contract
    	where 1=1
		<if test="_parameter != null and  _parameter != ''">
			and id = #{_parameter}
		</if>
  </select>
    <select id="findBargainAddrById" resultType="String" parameterType="string">
    select addr from sys_bargain
    	where 1=1
		<if test="_parameter != null and  _parameter != ''">
			and id = #{_parameter}
		</if>
  </select>
  
  <insert id="saveTxidDonorDrawIdRefInfo" parameterType="com.ecloudtime.model.SysDonorDrawTransRel">
  	INSERT INTO sys_trans_rel (trans_id, txid, block_height, tran_sign, contract_id,block_hash,donor_addr,type) 
  		VALUES (#{transId}, #{txid}, #{blockHeight},#{tranSign},#{contractId},#{blockHash},#{donorAddr},#{type});
  </insert>
  
  <insert id="saveFundFlowInfo" parameterType="com.ecloudtime.model.FundFlow">
  	INSERT INTO sys_fund_flow (txid, trans_id, type, trans_time, contract_id, contract_name,trans_money)
  	 VALUES (#{txid}, #{transId}, #{type},#{transTime}, #{contractId},#{contractName},#{transMoney});
  </insert>
  
  <resultMap id="donorRelMap" type="com.ecloudtime.model.SysDonorDrawTransRel">
		<result column="trans_id" property="transId" jdbcType="VARCHAR" />
		<result column="txid" property="txid" jdbcType="VARCHAR" />
		<result column="block_height" property="blockHeight" jdbcType="VARCHAR" />
		<result column="tran_sign" property="tranSign" jdbcType="VARCHAR" />
		<result column="contract_id" property="contractId" jdbcType="VARCHAR" />
		<result column="block_hash" property="blockHash" jdbcType="VARCHAR" />
		<result column="donor_addr" property="donorAddr" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
	</resultMap>
  
   <select id="findDonorTransRelByDonorid" resultMap="donorRelMap" parameterType="string">
    select * from sys_trans_rel
    	where 1=1
		<if test="_parameter != null and  _parameter != ''">
			and trans_id = #{_parameter}
		</if>
  </select>
   <select id="findDonorTransRelByTxid" resultMap="donorRelMap" parameterType="string">
    select * from sys_trans_rel
    	where 1=1
		<if test="_parameter != null and  _parameter != ''">
			and txid = #{_parameter}
		</if>
  </select>
  
   <resultMap id="transDetailMap" type="com.ecloudtime.model.TransDetail">
		<result column="txid" property="txid" jdbcType="VARCHAR" />
		<result column="trans_id" property="transId" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="trans_time" property="transTime" jdbcType="VARCHAR" />
		<result column="trans_money" property="transMoney" jdbcType="VARCHAR" />
		<result column="contract_id" property="contractId" jdbcType="VARCHAR" />
		<result column="contract_name" property="contractName" jdbcType="VARCHAR" />
	</resultMap>
  
   <select id="queryTransDetailsList" resultMap="transDetailMap" parameterType="com.ecloudtime.model.TransDetail">
    select * from sys_fund_flow
    	where 1=1
		<if test="type != null and  type != ''">
			and type = #{type}
		</if>
		<if test="transTime != null and  transTime != ''">
			and trans_time = #{transTime}
		</if>
		<if test="contractId != null and  contractId != ''">
			and contract_id = #{contractId}
		</if>
  </select>
  
  
    <resultMap id="foundationMap" type="com.ecloudtime.model.Foundation">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />
		<result column="contracts" property="contracts" jdbcType="VARCHAR" />
	</resultMap>
  
    <select id="findFoundByAddr" resultMap="foundationMap"  parameterType="string">
    select * from sys_foundation
    	where 1=1
		<if test="_parameter != null and  _parameter != ''">
			and id = #{_parameter}
		</if>
  	</select>
  	
  	
    <select id="findContractBargainList" resultType="com.ecloudtime.model.ContractBargain"  parameterType="com.ecloudtime.model.ContractBargain">
	   select scbr.smartContractId,scbr.bargainId,sb.addr as bargainAddr,sb.name as bargainName,sc.addr as smartContractAddr,sc.name as smartContractName from sys_contract_bargain_ref scbr 
	    	left join sys_bargain sb on scbr.bargainId=sb.id
	    	left join sys_contract sc on scbr.smartContractId=sc.id
	    	where 1=1
		<if test="smartContractId != null and  smartContractId != ''">
			and smartContractId = #{smartContractId}
		</if>
		<if test="bargainId != null and  bargainId != ''">
			and bargainId = #{bargainId}
		</if>
  	</select>
  	
  
</mapper>