/********************section********************/
/*icon*/
.rateIcon{
    text-align: center;
    padding:15px 0;
}
.rateIcon p{
    margin:0;
}
.rateIcon img{
    width:38px;
    height:38px;
}
.rateIcon span{
    display: block;
    margin-top:5px;
}
/*椤圭洰鍔ㄦ��*/
.dynamicAll{
    padding:10px 15px;
}
.readZi{
    font-size:14px;
    color:#5c5c5c;
    border-bottom:1px solid #f1f1f1;
    padding-bottom:6px;
    margin-bottom:12px;
}
.readZi span{
    border-bottom:3px solid #9C27B0;
    padding-bottom:6px;
}
.dynamicYi{
    margin-top:20px;
}
.dynamicUl{
    list-style: none;
    margin:0;
    padding:0;
}
.dynamicUl li{
    list-style: none;
    margin:0 auto 12px;
    padding:0;
}
.dynamicUl li:last-child{
    margin-bottom:0;
}
.dynamicUl p{
    font-size:12px;
    color:#333333;
}
.dynamicUl li img{
    margin-left:25px;
    width:203px;
    height:auto;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
}
.yue {
    font-size: 16px;
    color: #6e6e6e;
    margin:0;
}
.ri{
    margin:0;
    font-size: 12px;
    color: #6e6e6e;
    padding-left:8px;
}

/*****************鏂藉伐鍥鹃泦********************/
.img-responsive{width:100%;}
.imgDiv{
    text-align: center;
}
.imgDiv p{
    margin:15px 0 0 0;
    padding:0 10px;
}
.imgDiv img{
    border-radius:8px;
    box-shadow:0 2px 4px 0  rgba(0,0,0,0.12);
}

/*******************鎻愭鏄庣粏*******************/
.drawingAll{
    margin:30px 0;
    text-align:center;
}
.drawingTxt{
    font-size:20px;
    color:#3c3c3c;
    margin-bottom:5px;
    letter-spacing: 0.5px;
}
.drawingMon{
    font-size:24px;
    color:#fdc130;
    letter-spacing: 0.5px;
    margin:0;
}
/*ul*/
.drawingDel{
    margin:0;
    padding:0;
    list-style: none;
}
.drawingDel li{
    margin:0 10px 15px 10px ;
    background:#fafafa;
    border-radius:8px;
    height:40px;
    line-height:40px;
    padding:0 10px;
    list-style: none;
}
.drawingDel p.lf{
    font-size:16px;
    color:#9b9b9b;
    letter-spacing:0.39px;
}
.drawingDel p.rt{
    font-size:19px;
    color:#fdc130;
    letter-spacing:0.46px;
}

/*img*/
.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}
.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}
.mui-preview-header {
    height: 44px;
    top: 0;
}
.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}
.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}
.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}
.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}
.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.mui-preview-loading.mui-active {
    display: block;
}
.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}
.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
p img {
    max-width: 100%;
    height: auto;
}

.mui-slider .mui-slider-group .mui-slider-item img{
    width:100%;
}

/*验收*/
.rateBGNull span{
    color:#e0e0e0;
}

.rateLong{
    width:100%;
}





















